.dashboard{
    min-height: 90vh;
    display: flex;
    .content{
       width: 85%;
       background-color: pink;
       
    }
    .sidebar{
   background-color: var(--bg-input);
   box-sizing: border-box;
   width: calc(100% - 85%);
   padding: 1em;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
   position: fixed;
   right: 0;
   height: 100%;
   a{
     margin: 0.5em 0; 
     
     padding: 0.5em;
     font-size: 1.2em;
   }
   a:active{
    background-color: var(--color-purple);
   }
  }
}