.newProductContainer{

    form{
       margin: auto;
       width: 50%;

       div{
        margin: 0.5em 0;
        width: 100%;
        background-color: white;
        padding: 1em;
        border-radius: 2em;
       }
       input{
        width: 100%;
        padding: 0;
       }
       textarea{
        font-size: 1.2em;
        border: none;
        outline: none;
        width: 100%;
       }
       .createProductFormImage{

       }
       img{
        width: 20%;
        object-fit: contain;
        margin: 1em;
       }
    }
}

